.modal {
    font-size: 16px;
  }
  .modal > .header {
    width: 100%;
    border-bottom: 1px solid #e4e4e7;
    font-size: 16px;
    font-weight: 600;
    text-align: left;
    padding: 15px 25px 15px 15px;
    display: flex;
    align-items: center;
  }
  .modal > .content {
    width: 100%;
    padding: 10px 25px 20px 25px;
  }
  .modal > .actions {
    width: 100%;
    padding: 10px 5px;
    margin: auto;
    text-align: center;
  }
  .modal > .close {
    cursor: pointer;
    position: absolute;
    display: block;
    padding: 2px 5px;
    line-height: 20px;
    right: 5px;
    top: 7px;
    font-size: 24px;
    font-weight: 400;
    background: inherit;
  }
  
  .modal > .close:hover {
    box-shadow: none;
  }

  .modal .claimContainer {
    display: flex;
    align-items: center;
  }

  .modal .noHandler {
    margin-left: 15px;
    font-size: 14px;
    font-weight: 800;
  }

  .modal a {
    color: #0070f3;
    font-weight: 600;
  }